#{
    %删除ref的时间. (ms)
    time_to_del_ref=> 100000,
    % 更新路由信息的时间 (ms)
    time_to_update_router => 10000,
    % 每条路由生存周期.
    time_to_del_router_item => 50000,
    % 要显示log的最低等级
    % log优先级,数字越小优先级越高,最高为0.
    log_level => 10,
    % 本节点role
    role => undefined,
    % 尝试在其他节点启动本应用
    infect_others => true,
    % 尝试连接所有已知节点
    automatically_connect => true
}.
% 不可计算.
% config file in home dir.
